*{
    margin: 0;
    padding: 0;
    background-color: #010016 ;
    overflow-x: hidden;
    font-family: Roboto;
}
.container{
    margin: auto;
    width: 100%;
    max-width: 1024px;
}
@font-face {
    font-family: Roboto;
    src: url("fonts/roboto/Roboto-Regular.ttf");
}
header  {         display:flex;
      width: 100%;
    justify-content: space-between;
    align-items: center;
    --background-color: yellow;
}
.logo{
    width: 30%;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    --background-color: tomato;
}
.imglogo:hover{
    width: 100%;
}
ul{
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
    margin-top: 30px;
    margin-right: 4%;
    color: white;

}
li{
    display: flex;
    position: relative;
    margin: 8px;
    cursor: pointer;
}
.liPremium:hover{
    color:cyan ;
    font-weight: bold;
    margin: 0 10px;
}
.liHelp:hover{
    color:darkorange;
    font-weight: bold;
    margin: 0 10px;
}
.liDownload:hover{
    color:red;
    font-weight: bold;
    margin: 0 10px;
}
.liLog:hover{
    color:darkblue;
    font-weight: bold;
    margin: 0 10px;
}
.Signup{
    color: #10724C;
}
.Signup:hover{
    font-weight: bold;
    margin: 0 10px;
}
section{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}
h1{
    font-size: 4rem;
}
h4{
    font-size: 0.8rem;
}
.MusicEvery{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    --background-color: tomato;
}
.ImgDrum{
    width: 100%;
}
.Hitthe{
    margin-top: 20px;
    width: 30%;
    border-radius: 101px;
    border-style: none;
    height: 30px;
    background-color: #00F482;
    transition: 900ms cubic-bezier(.68,-0.37,.23,1.43);
}
.Hitthe:hover{
    width: 40%;
    height: 20%;
    background-color: darkred;
}
button{
    color: white;
}
.Premium{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 20px;
    width: 100%;
}
h2{
    letter-spacing: 1px;
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #403d5c;
}
.SeeP{
    color: #000;
    background-color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 42px;
    border-style: none;
}